--- 
--- 

@import "tale";


h1, h2, h3, h4, h5, h6 { color: #353535; font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif; line-height: normal; }

.post-title { color: #353535; font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif; font-size: 3rem; margin: 1rem 0; text-align: center; }

.nav a { color: #555; font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif; }

.catalogue-title { color: #353535; display: block; font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif; font-size: 2rem; font-weight: 700; margin: .5rem 0; }

.catalogue-title:hover { color: #b68f1c; }

.tags-header-title { color: #353535; font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif; font-size: 4rem; margin: 1rem 0; text-align: center; }

.tags-clouds { text-align: center; font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif; }

.tags-item-label { display: inline-block; margin: 2rem 0 0.5rem; font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif; color: #555; }
